@value sm, md, lg, xl from '../styles/breakpoints.css';

.blockquote {
    color: #ff6000;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blockquote:after {
    border-radius: 3px;
    position: absolute;
    background: #ff6000;
    display: block;
    height: 100%;
    content: "";
    width: 8px;
    left: 0;
    top: 0;
}

@media sm {
    .blockquote {
        margin-left: -2em;
    }
}
