@value sm, md, lg, xl from '../styles/breakpoints.css';

.header {
    padding: 9rem 1rem 2rem;
    text-align: center;
}

.headerCompact {
    composes: header;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.h1 {
    margin: 0;
    font-size: 32px;
    white-space: nowrap;
    margin-bottom: .5rem;
}

.h2 {
    color: #ff6000;
    display: block;
    font-size: 26px;
}

/*@media md {*/
/*    .h2 {*/
/*        text-align: center;*/
/*        margin-left: 15px;*/
/*        font-size: 22px;*/
/*        margin-top: 1rem;*/
/*        !*display: inline;*!*/
/*    }*/
/*}*/