@value sm, md, lg, xl from '../styles/breakpoints.css';

.strapline {
    color: #ff6000;
    text-align: center;
    font-size: 14.8vw;
    margin: 4vw 0 10vw;
    white-space: nowrap;
    margin-left: 0.75rem;
    text-shadow: 12px 12px #f1f1f1;
}

@media screen and (min-width: 1300px) {
    .strapline {
        font-size: 200px;
        margin: 50px 0 100px;
    }
}
